{% extends 'base.html.twig' %}

{% block header %}
    {{ render(controller('App\\Controller\\Heroes\\ShopController::menu')) }}
{% endblock %}

{% block title %}Éditer Catégorie{% endblock %}

{% block body %}
    <h1>Éditer une catégorie</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('category_index') }}">Retour à la liste</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}

{% block footer %}
    {% include 'components/_footer.html.twig' %}
{% endblock %}
