{% extends 'base.html.twig' %}

{% block title %}Catégorie Index{% endblock %}

{% block body %}
    {% include 'product/index.html.twig' %}

    <a href="{{ path('category_new') }}">Créer une nouvelle catégorie</a>
{% endblock %}


