{% extends "layout-shop.html.twig" %}

{% block title %}
    Accueil de la Boutique
{% endblock %}

{% block body %}

    {{ dump(products) }}

    <main>
        <div class="container-fluid category">
            <div class="row">
                <div class="col-6 category-intro">
                    <h2>NOUVEAUTÉS</h2>
                    <p >
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
                <div class="col-6 category-image">
                </div>
            </div>
        </div>

        <hr class="line">

        <div class="container catalog">
            <div class="row justify-content-around">
                <div class="col-2">
                    <a href="file:///Users/AgnesDissake/Desktop/Formation%20Web/TEST-HEROES/starwars-lesnouvellesaventures.html"><img src="images/comics/star-wars.jpg" alt="Star-Wars - Nouvelles Aventures Tome 3" class="img-fluid p-0 m-0 catalog-image"></a>
                    <div class="catalog-details">
                        <h5>Star Wars</h5>
                        <p>Nouvelles aventures - 3</p>
                        <p class="catalog-price">24€</p>
                    </div>
                </div>
                <div class="col-2">
                    <a href="file:///Users/AgnesDissake/Desktop/Formation%20Web/TEST-HEROES/undertaker-lindienblanc.html"><img src="images/bd/undertaker.jpg" alt="Undertaker - L'Indien Blanc" class="img-fluid p-0 m-0 catalog-image"></a>
                    <div class="catalog-details">
                        <h5>Undertaker</h5>
                        <p>L'Indien Blanc</p>
                        <p class="catalog-price">28€</p>
                    </div>
                </div>
                <div class="col-2">
                    <a href="file:///Users/AgnesDissake/Desktop/Formation%20Web/TEST-HEROES/blackclover-tome3.html"><img src="images/mangas/clover.jpg" alt="Black Clover - Tome 3" class="img-fluid p-0 m-0 catalog-image"></a>
                    <div class="catalog-details">
                        <h5>Black Clover</h5>
                        <p>Tome 3</p>
                        <p class="catalog-price">15€</p>
                    </div>
                </div>
                <div class="col-2">
                    <a href="file:///Users/AgnesDissake/Desktop/Formation%20Web/TEST-HEROES/spiderman-lasagaduclone.html"><img src="images/comics/spiderman.jpg" alt="Spiderman - La Saga Du Clone>" class="img-fluid p-0 m-0 catalog-image"></a>
                    <div class="catalog-details">
                        <h5>Spiderman</h5>
                        <p>La Saga Du Clone</p>
                        <p class="catalog-price">22€</p>
                    </div>
                </div>
            </div>

        </div>

    </main>
{% endblock %}

