{% extends 'base.html.twig' %}

{% block header %}
    {{ render(controller('App\\Controller\\Heroes\\ShopController::menu')) }}
{% endblock %}

{% block title %}Modifier un produit{% endblock %}

{% block body %}
    <h1>Modifier votre produit</h1>

    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('product/_delete_form.html.twig', {'button_label' : 'Delete'}) }}
    <a href="{{ path('product_index') }}"><button>Retour à la liste</button></a>

{% endblock %}


{% block footer %}
    {% include 'components/_footer.html.twig' %}
{% endblock %}
