{% extends 'base.html.twig' %}

{% block header %}
    {{ render(controller('App\\Controller\\Heroes\\ShopController::menu')) }}
{% endblock %}

{% block title %}Modifier un produit{% endblock %}

{% block body %}
    <h2 class="mb-3 mt-3">Modifier votre produit</h2>
    {{ include('product/_form.html.twig', {'button_label': 'Mettre à jour'}) }}<br>
    <div class="row ml-2">
    {{ include('product/_delete_form.html.twig', {'button_label' : 'Supprimer'}) }}
    <a href="{{ path('product_index') }}"class="btn btn-danger ml-3">Retour à la liste</a>
    </div>
{% endblock %}


{% block footer %}
    {% include 'components/_footer.html.twig' %}
{% endblock %}
