{% extends 'base.html.twig' %}

{% block header %}
    {{ render(controller('App\\Controller\\Heroes\\ShopController::menu')) }}
{% endblock %}

{% block title %}Nouveau Produit{% endblock %}

{% block body %}
    <h2>Nouvelle saisie de produit</h2>

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('product_index') }}"><button class="btn btn-danger float-left">Retour à la liste</button></a>
{% endblock %}

{% block footer %}
    {% include 'components/_footer.html.twig' %}
{% endblock %}
