<div class="container-fluid bg-dark text-light text-center py-4">
    <div class="row">
        <div class="col-md-4 text-left">
            <p>
                <small>&#169;2020 by Heroes-corner</small>
            </p>
        </div>

        <div class="col-md-4 text-center">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="footer-link" href="#">NOUS CONTACTER </a>
                </li>
                <li class="list-inline-item">
                    <a class="footer-link" href="#">FAQ </a>
                </li>
                <li class="list-inline-item">
                    <a class="footer-link" href="#">CGV </a>
                </li>
                <li class="list-inline-item">
                    <a class="footer-link" href="#">MENTIONS LÉGALES </a>
                </li>
            </ul>
        </div>

        <div class="col-md-4 text-right">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter-square"></i></a>
            <a href="#"><i class="fab fa-instagram-square"></i></a>
        </div>
    </div>
</div>