<div class="footer container-fluid bg-dark text-light text-center py-4 mt-5">
    <div class="row">
        <div class="col-md-4 text-left">
            <a class="footer-link" href="#">NOUS CONTACTER </a>
        </div>

        <div class="col-md-4 text-center">
            <p>
                <large>&#169;2020 BY HEROES-CORNER</large>
            </p>
        </div>

        <div class="col-md-4 text-right">
            <ul class="list-inline">

                <li class="list-inline-item">
                    <a class="footer-link" href="#">FAQ </a>
                </li>
                <li class="list-inline-item">
                    <a class="footer-link" href="#">CGV </a>
                </li>
                <li class="list-inline-item">
                    <a class="footer-link" href="#">MENTIONS LÉGALES </a>
                </li>
            </ul>
        </div>
    </div>
</div>