{% extends 'base.html.twig' %}

{% block header %}
    {{ render(controller('App\\Controller\\Heroes\\ShopController::menu')) }}
{% endblock %}

{% block title %}Nouvelle Commande{% endblock %}

{% block body %}
    <h1>Saisir une nouvelle commande</h1>

    {{ include('order/_form.html.twig') }}

    <a href="{{ path('order_index') }}">Retour à la liste</a>
{% endblock %}

{% block footer %}
    {% include 'components/_footer.html.twig' %}
{% endblock %}
